<div class="answer">
  {{#each question.answers as |answer|}}

    <h4>{{answer.answer_author}}</h4>
    <p>{{answer.notes}}</p>

    {{update-answer answer=answer updateAnswer='updateAnswer' deleteAnswer='deleteAnswer'}}

  {{/each}}


</div>
